@charset "utf-8";
@namespace url("http://www.w3.org/1999/xhtml");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}

textarea {
	width:49%;
	height:100%;
}